* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px;
}

.btn {
    background-color: green;
    color: white;
    padding: 16px 38px;
    border-radius: 12px;
    border: none;
    font-size: 15px;
    cursor: pointer;
}

.hero {
    padding: 60px;
}

label {
    font: 500;
}

input {
    margin: 9px;
    padding: 4p
}